NEXT_PUBLIC_BLOG_ENDPOINT=https://api-eu-fggthgfgfg.hygraph.com/v2/creg567gfb4tbcfdfngft53by/master
GRAPHCMS_TOKEN='tyrtdS1Etc2hhcmVkLWV1YzEtMDIuathrhjb20vdjIvY2gerMmrgrthVtZW5Il0sImwianRpIjogreDVzMmo3MDAxdDRjc2J4MHBmaSJ9.yOh50TjPK0wrNUzYZ162hPrM_Y8frmok5GgMUyAAESBH_QHkoCOuuaJEdg_ARgXLv_wUmiFW7v4TTeeIPIfIFLkQxO31KsDZMHsILCoBTF9I9RFpL5sWVMyR3ZtIt7ISheSDzFx-bY9e1gerqzpfDGBPq4loViSdwoxPergergnrtrthrngrUDYPFuxqLgerK4_Jy9gxgOiQ4'

STRIPE_SECRET='sk_live_51Lfghffnfgn4jXfbdfbdryuyuiyuiyuinjq8YOWHuiiopkutyrnrhrtNBzafwrS2luvg45hrthr0YvIUsbVe'
STRIPE_SECRET_TEST='sk_test_fgfgnfnfgnhmdfgdfmggghdfgdbfngkjkuiouilmerergdfbdfbgjvdfbfdKGHlmhgm'
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY='pk_live_dfgddbbdfb1kptryrmfr7456gfhZC8lm4564yyg4FqNSJnM04hrt4yhhb00Kj2ehrt'
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY_TEST='pk_test_4fdbfb2Ztrth5t6ujntut3tmuy4yukjrje4meem4ghghm8xs2O7M0ghghngh5'