@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul,
  ol {
    list-style: revert;
  }
}

$primary-color: #bc2cae;
@import 'loaders.css/src/animations/ball-rotate.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  &:before {
    content: '';
    content: '';
    width: 100%;
    height: 100vh;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(
      321deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(43, 52, 214, 1) 70%,
      rgba(214, 43, 167, 1) 99%
    );
    background: -webkit-linear-gradient(
      321deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(43, 52, 214, 1) 70%,
      rgba(214, 43, 167, 1) 99%
    );
    background: linear-gradient(
      321deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(43, 52, 214, 1) 70%,
      rgba(214, 43, 167, 1) 99%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#d62ba7",GradientType=1);

    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.text-shadow {
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.react-multi-carousel-list {
  & .arrow-btn {
    transition: width 300ms ease;
    width: 40px;
    height: 40px;
    opacity: 0.5;
    color: $primary-color;
    border-radius: 100%;
    &:hover {
      scale: 115%;
    }
    &.arrow-left {
      left: 3px;
    }
    &.arrow-right {
      right: 3px;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
  position: fixed;
  left: 50vw;
  right: 50vw;
  margin: auto;
  top: 50vh;
  bottom: auto;
  width: 50px;
  height: 50px;
  animation: fadeOut 1s 1s;
  animation-fill-mode: forwards;
  z-index: 99;
}

.left-photo {
  display: block;
  position: relative;
  background-color: #bc2cae;
  width: 100%;
  height: 50vh;
}

.dropMenu {
  right: 25%;
}
